form {
	box-sizing: border-box;
	border: 1px solid #82a9e0;
	padding: 10px;
	border-radius: 5px;
}

.form__title {
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
    color: #82a9e0;
}

input {
	width: 49%;
	float: left;
	box-sizing: border-box;
	border: 1px solid #dedede;
}

[name="url"] {
	float: left;
}

[name="anchor"] {
	float: right;
}

textarea {
	min-width: 100%;
	margin-top: 10px;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #dedede;
}

.form__button {
	margin-top: 5px;
}