form {
	margin-top: 10px;
	box-sizing: border-box;
	border: 1px solid #82a9e0;
	padding: 10px;
	border-radius: 5px;
}

.form__title {
    margin: 0;
    font-size: 15px;
    margin-bottom: 10px;
    color: #82a9e0;
}

input {
	width: 49%;
	float: left;
	box-sizing: border-box;
	border: 1px solid #dedede;
	outline: none;
	box-shadow: 0px 0px 3px #ccc, 0 2px 5px #eee inset;
<<<<<<< HEAD
}

input:focus:invalid, textarea:focus:invalid {
	box-shadow: inset 0 0 0.5px 0.5px #d45252, 0px 0px 3px #ccc;
	border-color: #b03535;
}

=======
}

input:focus:invalid, textarea:focus:invalid {
	box-shadow: inset 0 0 0.5px 0.5px #d45252, 0px 0px 3px #ccc;
	border-color: #b03535;
}

>>>>>>> df04b42b54a8fe68e3604d53a43ae6514ce7c506
input:required:valid, textarea:required:valid {
	box-shadow:  inset 0 0 0.5px 0.5px #41a45d, 0px 0px 3px #ccc;
	border-color: #41a45d;
}



[name="url"] {
	float: left;
}

[name="anchor"] {
	float: right;
}

textarea {
	min-width: 100%;
	margin-top: 10px;
	max-width: 100%;
	box-sizing: border-box;
	border: 1px solid #dedede;
	outline: none;
	box-shadow: 0px 0px 3px #ccc, 0 2px 5px #eee inset;
}

.form__button {
	margin-top: 5px;
}