form.form
  h1.form__title Добавить позицию
  input.form__input(name="url" placeholder="url" type="text" required)
  input.form__input(name="anchor" placeholder="anchor" type="text" required)
  textarea.form__input(name="details" placeholder="details" rows="5" required)
  button.form__button(type="submit") Добавить
