@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Proxima Nova Regular.otf") format("otf");
}

.menu {
  -webkit-font-smoothing: antialiased;
  font-family: "Proxima Nova", sans-serif;
  height: 100%;
  width: 500px;
  background-color: #fff;
  border: 1px solid #dedede;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  transition: height 5s ease-out 0s;
}

.menu__title {
  color: #82a9e0;
  margin: 0;
}

.menu__list {
  list-style: none;
  margin-top: 10px;
  border: 1px solid #dedede;
  padding: 10px;
  border-radius: 5px;
}


.menu__closeList {
  height: 20px;
  width: 20px;
  display: block;
  float: right;
  cursor: pointer;
}


